.content {
  display: flex;
  gap: 10px;
}

.editor-wrapper {
  min-height: 50vh;
  outline: 1px solid black;
  flex: 1;
  padding: 10px;
}

.history-wrapper {
  min-height: 50vh;
  outline: 1px solid black;
  flex: 1;
  padding: 10px;
}

.preview-wrapper {
  min-height: 50vh;
  outline: 1px solid black;
  flex: 1;
  padding: 10px;
}

/* Editor component styles */
.textarea {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
/* History component styles */
.history li {
  margin: 0 0 10px 0;
}
.history li:first-child {
  outline: 1px solid red;
}
/* Preview component styles */

/* HotKeys component styles */
.hotkeys input {
  width: 30px;
  text-align: center;
}
.hotkeys select {
  width: 80px;
}

/* Controls panel */
.control-btns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control-btns-item {
  display: inline-block;
}

.control-btns-item button {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
